body {
  /* overflow: hidden; */
  margin: 0%;
  padding: 0%;
  background-color: black;
}
#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.Name {
}
.Texting {
      text-align: center;
    font-family: "Bruno Ace", sans-serif;
    font-style: normal;
    font-size: 40px;
    height: min-content;
    font-weight: bolder;
    color: white;
    cursor: default;
    transition: 1s 
ease-in-out;
}
.Texting:hover {
  transition: 1s ease-in-out;

  color: rgb(166, 0, 243);
  Explore {
    font-size: 10px;
  }
}
.Texting:hover ~ .Explore {
  color: #ccc#333;
}
.motive_in_row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Motive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Motive2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Explore {
  color: white;
  font-family: "Bruno Ace", sans-serif;
  font-size: 80px;
  transition: 1s ease-in-out;
}
.Explore2 {
  color: white;
  font-family: "Bruno Ace", sans-serif;
  font-size: 40px;
  transition: 1s ease-in-out;
}
.Explore3mob {
        display: none;
    }
.Explore:hover {
  /* color: rgb(255, 0, 0); */

  text-shadow: 0 0 60px #00ffcb;
  transition: 1s ease-in-out;
}
.Explore2:hover {
  /* color: rgb(255, 0, 0); */

  text-shadow: 0 0 60px #00ffcb;
  transition: 1s ease-in-out;
}
h1.Explore {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.Next {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.button {
    min-width: 150px;
    min-height: 30px;
    font-family: "Bruno Ace", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4fd1c5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 0px 0px 24px 15px rgba(79, 209, 197, 0.64);
    transition: all 0.3s 
ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(150px + 12px);
  min-height: calc(40px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
/* section2 */
#I_do {
  background-color: #ffffff;
  height: 100vh;
}

.About_Me {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.My_pic_parell {
  padding: 30px;
  display: block;
  position: relative;
  width: 40vh; /* Adjust as needed */
  height: 40vh; /* Adjust as needed */
  transform: skewX(50deg);
  overflow: hidden;
}
.my_pic {
  position: absolute;

  width: 100%;
  height: 100%;
  box-shadow: 0px 50px 30px black;
  transform: skewX(-50deg);
}
.Me_word {
  padding-left: 200px;
  padding-right: 200px;
}
.Me_word h1 {
  font-size: 90px;
  font-family: "Bruno Ace", sans-serif;
  color: #313133;
  transition: 1s ease-in-out;
}
.Me_word h1:hover {
  transition: 0.3s ease-in-out;
}
#Details {
  font-size: 20px;
  font-family: "Bruno Ace", sans-serif;
  color: #313133;
}
#ic {
  animation: rotate 1s linear infinite;
}
.par_fill {
  width: 70px;
  height: 50vh;
  display: inline-block;
  background: rgb(255, 102, 0);
  border: none;
  box-shadow: -30px 20px 20px rgb(39, 39, 39);
  transform: skewX(30deg);
  transition: 1s ease-in-out;
}
.par_fill:hover {
  box-shadow: 0px 0px 0px rgb(39, 39, 39);
  transition: 0.1s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.My_Skills {
  width: 100%;
  height: 50vh;
  padding: 0%;
  background-image: url("Images/Default_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.My_Skills ul {
  height: 100%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
  padding: auto;
  justify-content: space-evenly;
  list-style: none;
}
.My_Skills li {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: "Bruno Ace", sans-serif;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}
.My_Skills ul li:hover {
  color: rgb(240, 82, 42);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* new des  */

.circle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid #00ffcb;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px #a9e5fd inset, 0px 0px 24px 0px #3bd8ff,
    0px 0px 8px 0px #ffffff42;
  animation: rotateTriangle 2s linear infinite;
}

.icon_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.social_media_title{
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

ul i {
  color: #fff;
  font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
}

ul i:hover {
  color: #f2709c;
}

#connect_me {
  height: 100vh;
  font-family:  "Bruno Ace", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  /* padding-block: min(20vh, 6rem); */
  text-align: center;
  /* width: calc(min(90rem, 90%)); */
  /* margin-inline: auto; */
}

section span,
section p,
section h2,
section h3 {
  letter-spacing: 0.035rem;
}

section p {
  line-height: 1.6;
  color: #a3a3a3;
  max-width: 50rem;
  margin: 0 auto;
  font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
}

section .bg-watermark {
  color: #4b69ca5b;
  font-size: clamp(6rem, 1.3333rem + 14.9333vw, 20rem);
  font-weight: 800;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(-15%);
  user-select: none;
  letter-spacing: 0.5rem;
}

section span {
  text-transform: uppercase;
  display: block;
  font-size: 1.2rem;
  color: #a3a3a3;
}

section h2 {
  font-size: clamp(3.5rem, 3rem + 1.6vw, 5rem);
  margin-top: -0.625rem;
  color: #fff;
}

section .cards {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  gap: 2rem;
}

@media screen and (min-width: 51rem) {
  section .cards {
    gap: 0;
    padding-bottom: 2.5rem;
  }
}

section .cards .card {
  position: relative;
  cursor: pointer;
}

section .cards .card h3,
section .cards .card p {
  text-transform: capitalize;
}

section .cards .card h3 {
  font-size: clamp(1rem, 0.9167rem + 0.2667vw, 1.25rem);
  font-weight: 400;
  color: #f6f6f6;
}

section .cards .card p {
  font-size: clamp(0.85rem, 0.75rem + 0.32vw, 1.15rem);
  letter-spacing: 0.12rem;
  font-weight: 300;
  max-width: 100%;
}

section .cards .card::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 6.25rem;
  z-index: 0;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to left, #ff9472, #f2709c);
  top: -0.375rem;
  left: -0.375rem;
}

section .cards .card::after {
  position: absolute;
  inset: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    hsl(210deg 2.99% 26.27% / 20%),
    hsl(0deg 0% 3.14% / 90%)
  );
}

section .cards .card img {
  filter: grayscale(100%);
  transition: 0.5s ease;
}

section .cards .card-content {
  position: absolute;
  bottom: 0;
  z-index: 99;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 1.875rem 1.25rem;
  text-align: center;
}

section .cards .card-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-top: 1.25rem;
}

section .cards .card:hover img {
  filter: grayscale(0%);
}

section .cards .card:hover::before {
  transform: scale(1.03);
}

/* Card #1 override */
section .cards .card:nth-child(1)::before {
  top: -0.375rem;
  left: -0.375rem;
}

/* Card #2 override */
@media screen and (min-width: 31.25rem) {
  section .cards .card:nth-child(2) {
    transform: translateY(15%);
  }
}

section .cards .card:nth-child(2)::before {
  bottom: -0.375rem;
  left: -0.375rem;
  top: auto;
}

/* Card #3 override */
section .cards .card:nth-child(3)::before {
  top: -0.375rem;
  left: -0.375rem;
}



/* end new des  */
@media only screen and (max-width: 1780px) {
  
  .par_fill {
    width: 5vh;
    height: 50vh;
    display: inline-block;
    background: rgb(255, 102, 0);
    border: none;
    box-shadow: -30px 20px 20px rgb(39, 39, 39);
    transform: skewX(30deg);
    transition: 1s 
ease-in-out;
}
 .Me_word {
    padding-left: 128px;
    padding-right: 112px;
}
}
@media only screen and (max-width: 1540px) {
  .Explore2 {
    color: white;
    font-family: "Bruno Ace", sans-serif;
    font-size: 24px;
    transition: 1s ease-in-out;
  }
     .Me_word {
        padding-left: 93px;
        padding-right: 77px;
    }
    .My_pic_parell {
    padding: 30px;
    display: block;
    position: relative;
    width: 30vh;
    height: 30vh;
    transform: skewX(50deg);
    overflow: hidden;
}
}
@media only screen and (max-width: 1400px) {
  .Me_word h1 {
    font-size: 41px;
    font-family: "Bruno Ace", sans-serif;
    color: #313133;
    transition: 1s 
ease-in-out;
}
#Details {
    font-size: 16px;
    font-family: "Bruno Ace", sans-serif;
    color: #313133;
}
    .par_fill {
        width: 4vh;
        height: 46vh;
        display: inline-block;
        background: rgb(255, 102, 0);
        border: none;
        box-shadow: -30px 20px 20px rgb(39, 39, 39);
        transform: skewX(30deg);
        transition: 1s 
ease-in-out;
    }
}
@media only screen and (max-width: 1150px) {
  .Texting {
    text-align: center;
    font-family: "Bruno Ace", sans-serif;
    font-style: normal;
    font-size: 34px;
    height: min-content;
    font-weight: bolder;
    color: white;
    cursor: default;
    transition: 1s 
ease-in-out;
}
  .Explore {
    color: white;
    font-family: "Bruno Ace", sans-serif;
    font-size: 54px;
    transition: 1s ease-in-out;
  }
  .Explore2 {
    color: white;
    font-family: "Bruno Ace", sans-serif;
    font-size: 18px;
    transition: 1s ease-in-out;
  }
  .par_fill {
       display: none;
    }
}

@media only screen and (max-width: 700px) {
  .Texting {
    font-family: "Bruno Ace", sans-serif;
    font-style: normal;
    font-size: 21px;
    height: min-content;
    font-weight: bolder;
    color: white;
    cursor: default;
    transition: 1s ease-in-out;
  }
  .Explore {
    color: white;
    font-family: "Bruno Ace", sans-serif;
    font-size: 36px;
    transition: 1s ease-in-out;
  }
  .Explore2 {
    color: white;
    font-family: "Bruno Ace", sans-serif;
    font-size: 14px;
    transition: 1s ease-in-out;
  }
}

@media only screen and (max-width: 550px) {
  .My_pic_parell {
    padding: 30px;
    display: block;
    position: relative;
    width: 20vh;
    height: 20vh;
    transform: skewX(50deg);
    overflow: hidden;
}
  .About_Me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
    .Texting {
        font-size: 23px;
    }
      .Explore {
        color: white;
        font-family: "Bruno Ace", sans-serif;
        font-size: 32px;
        transition: 1s 
ease-in-out;
    }
      .Explore2 {
        color: white;
        font-family: "Bruno Ace", sans-serif;
        font-size: 10px;
        transition: 1s 
ease-in-out;
    }
}
@media only screen and (max-width: 860px) {
  .My_Skills ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .About_Me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  
  .Texting {
    font-family: "Bruno Ace", sans-serif;
    font-style: normal;
    height: min-content;
    font-weight: bolder;
    color: white;
    cursor: default;
    transition: 1s ease-in-out;
  }

  

  .Me_word {
    padding-left: 30px;
    padding-right: 10px;
  }
  .Me_word h1 {
    font-size: 50px;
    font-family: "Bruno Ace", sans-serif;
    color: #313133;
    transition: 1s ease-in-out;
  }
  .Me_word h1:hover {
    transition: 0.3s ease-in-out;
  }
  #Details {
    font-size: 20px;
    font-family: "Bruno Ace", sans-serif;
    color: #313133;
  }
  .par_fill {
    display: none;
  }
}
/* iphone se  */
@media only screen and (max-width: 375px) {
  .My_Skills ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .About_Me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .Me_word {
    padding-left: 30px;
  }
  .Texting {
    font-size: 19px;
  }

  h1.Explore {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .My_pic_parell {
    padding: 30px;
    display: block;
    position: relative;
    width: 20vh;
    height: 20vh;
    transform: skewX(50deg);
    overflow: hidden;
}
  .Me_word h1 {
        margin: 0px;
        font-size: 25px;
        font-family: "Bruno Ace", sans-serif;
        color: #313133;
        transition: 1s 
ease-in-out;
    }
        #Details {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .My_Skills li {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: "Bruno Ace", sans-serif;
    cursor: pointer;
    font-size: 23px;
    transition: 0.3s 
ease-in-out;
}
}
@media only screen and (max-width: 430px) {
  .My_Skills ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .About_Me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  
.My_pic_parell
 {
    padding: 30px;
    display: block;
    position: relative;
    width: 20vh;
    height: 20vh;
    transform: skewX(50deg);
    overflow: hidden;
}
  .my_pic:focus .My_Skills {
    height: 896px;
  }
  .Texting {
    font-size: 19px;
  }
  .Explore {
    color: white;
    font-family: "Bruno Ace", sans-serif;
    font-size: 27px;
    transition: 1s ease-in-out;
  }
  .Explore2 {
    display: none;
  }
  .Explore3mob {
        color: white;
        font-family: "Bruno Ace", sans-serif;
        font-size: 20px;
        transition: 1s 
ease-in-out;
        display: block;
        text-align: center;
    }
  
  .Next {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
}
  
}
:root {
  --color-bg1: rgb(8, 10, 15);
  --color-bg2: rgb(0, 17, 32);
  --color1: 18, 113, 255;
  --color2: 107, 74, 255;
  --color3: 100, 100, 255;
  --color4: 50, 160, 220;
  --color5: 80, 47, 122;
  --color-interactive: 140, 100, 255;
  --circle-size: 40%;
  --blending: hard-light;
}



.gradient-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background container */
.gradient-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  overflow: hidden;
  z-index: 1;
}

.noiseBg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: soft-light;
  opacity: 0.3;
}

.gradients-container {
  position: absolute;
  inset: 0;
  filter: url(#goo) blur(60px);
}


/* --- Floating Blobs Keep Their Animations --- */
.g1, .g2, .g3, .g4, .g5, .interactive {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  mix-blend-mode: var(--blending);
}

.g1 {
  background: radial-gradient(circle, rgba(var(--color1), 0.8), rgba(var(--color1), 0));
  animation: moveVertical 30s ease infinite;
  top: 100%;
  left: 30%;
}

.g2 {
  background: radial-gradient(circle, rgba(var(--color2), 0.8), rgba(var(--color2), 0));
  animation: moveInCircle 20s linear infinite;
  top: 30%;
  left: 50%;
}

.g3 {
  background: radial-gradient(circle, rgba(var(--color3), 0.8), rgba(var(--color3), 0));
  animation: moveInCircle 40s linear infinite reverse;
  top: 50%;
  left: 20%;
}

.g4 {
  background: radial-gradient(circle, rgba(var(--color4), 0.8), rgba(var(--color4), 0));
  animation: moveHorizontal 40s ease infinite;
  top: 60%;
  left: 60%;
}

.g5 {
  background: radial-gradient(circle, rgba(var(--color5), 0.8), rgba(var(--color5), 0));
  animation: moveInCircle 25s ease infinite;
  top: 10%;
  left: 30%;
}

.interactive {
  background: radial-gradient(circle, rgba(var(--color-interactive), 0.8), rgba(var(--color-interactive), 0));
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}


/* ---- Card Section ---- */
.content-wrapper {
  position: relative;
  z-index: 3;
  max-width: 80vh;
  width: 100%;
}

.card {
  margin-top: 6rem;
  padding: 50px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.04); /* ultra-light glass film */
  border: 1px solid rgba(255, 255, 255, 0.18); /* frosted glass edge */

  box-shadow:
      0 10px 35px rgba(0, 0, 0, 0.25),   /* floating shadow */
      inset 0 0 25px rgba(255, 255, 255, 0.06); /* subtle inner glow */

  position: relative;
  overflow: hidden;
}

/* top-left glass reflection */
.card::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -30%;
  width: 80%;
  height: 80%;
  background: radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0) 70%
  );
  opacity: 0.4;
  pointer-events: none;
}

/* bottom-right highlight */
.card::after {
  content: "";
  position: absolute;
  bottom: -30%;
  right: -20%;
  width: 70%;
  height: 70%;
  background: radial-gradient(
      circle at bottom right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0) 70%
  );
  opacity: 0.25;
  pointer-events: none;
}



.card .noise {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.09;
}

.card .content {
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 3rem;
}



/* --- Animations --- */
@keyframes moveInCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes moveVertical {
  0% { transform: translateY(-50px); }
  50% { transform: translateY(50px); }
  100% { transform: translateY(-50px); }
}

@keyframes moveHorizontal {
  0% { transform: translateX(-50px); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(-50px); }
}
