body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 0, 0);
}
.circle {
	background-color: #00ffcb;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -4px;
	pointer-events: none;
	mix-blend-mode: screen;
	z-index: 10;
	box-shadow: 0px 0px 8px 0px #a9e5fd inset, 0px 0px 24px 0px #3bd8ff, 0px 0px 8px 0px #FFFFFF42;
  }
.back_btn{
  position: fixed;
  top:5vh;
  left: 5vh;
  border-radius: 50%;
  border:2px solid #4FD1C5 ;
  width: 60px;
  height: 60px;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  justify-content: center;
  cursor: pointer;
  
}
.back_btn span{
  display: flex;
  justify-content: center;
  line-height: 20px;
}
.img_box_head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 17vh;
    padding: 0%;
    background-image: url('Images/Default_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.img_box_head h1{
    color: white;
    font-family: "Bruno Ace", sans-serif;
    font-size: 30px;

}
.color_lines{
    display: flex;
    width:100%
}
.orange{
    width: 25%;
    height: 10px;
background-color:orange ;
}
.blue{
    width: 15%;
    height: 10px;
background-color: #4FD1C5;
}
.white{
    width:60%;
    height: 10px;
background-color: white;
}
.proj_list{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
}
.proj_list_item{
  width: 100%;
  height: 600px;
}

.img_group {
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
}

.img_box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 8px;
  border: none;
  padding: 10px;
  border-radius: 1.6rem;
  background-color: black;
  
}
  .wraper {
    
    transform: perspective(100rem);
    
    cursor: pointer;
  }
  
  .contain {
    
    
    height: 100%;
    width: 100%;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url("Images/Webiste_img.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
    transition: transform .6s 1s;
  }
  .contain h3{
    color: white;
    font-family: "Bruno Ace", sans-serif;
  }
  .contain p{
    color: white;
    font-family: "Bruno Ace", sans-serif;

  }
  .contain::before,
  .contain::after {
    content: "";
  
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
  
    position: absolute;
    z-index: 2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .contain::before {
    top: 2rem;
    right: 2rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .contain::after {
    bottom: 2rem;
    left: 2rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  

  
  
  .wraper:hover .contain::before,
  .wraper:hover .contain::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
  
